.container {
	min-width: 20rem;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.container a {
	width: 100%;
	padding: 2rem 3rem;

	transition: background-color 0.1s ease-out;
}

.container a:hover {
	background-color: hsla(0, 0%, 100%, 20%);
}

a.current {
	background-color: hsla(0, 0%, 100%, 5%);
}
