:host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

:host > :not(style) + * {
    margin-left: 1rem;
}

span {
    font-size: 1.7rem;
    white-space: nowrap;
}

input {
    background-color: #f5f5f5;
}

/* Fixes chrome +- buttons not disappearing with "appearance: textfield"*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    appearance: none;
}

input[type=number] {
    outline: none; /* Removes chrome outline on focus */
    appearance: textfield;
    width: 4ch;

    border: none;
    border-radius: .7rem;
    padding: 0 .4rem;
}

input[type=number]:invalid {
    /* Chrome doesn't apply border-radius to outline
    so box-shadow has to be used */
    box-shadow: 0 0 0 .2rem #c80000;
}

input[type=range] {
    appearance: none;
    width: 25rem;
    height: 1rem;

    border-radius: .5rem;
    padding: 0 .4rem;

    --thumb-height: .5rem;
    --thumb-width: 1.5rem;
    --thumb-backround-color: #252525;
    --thumb-border-radius: 50rem;
}

/* REPEATED RULE */
/* Chrome doesn't render a rule if it contains
an unknown selector, even if other ones do work.
This makes it necessary to make a rule only for
webkit browsers */
input[type=range]::-moz-range-thumb {
    appearance: none;
    border: none;
    cursor: pointer;

    height: var(--thumb-height);
    width: var(--thumb-width);
    background-color: var(--thumb-backround-color);
    border-radius: var(--thumb-border-radius);
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    border: none;
    cursor: pointer;

    height: var(--thumb-height);
    width: var(--thumb-width);
    background-color: var(--thumb-backround-color);
    border-radius: var(--thumb-border-radius);
}
/* REPEATED RULE */
