:host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

:host > :not(style) + * {
    margin-left: 1rem;
}

span {
    font-size: 1.7rem;
    white-space: nowrap;
}

input {
    background-color: #f5f5f5;
}

input[type=number] {
    outline: none; /* Removes chrome outline on focus */
    appearance: textfield;
    width: 4ch;

    border: none;
    border-radius: .7rem;
    padding: 0 .4rem;
}

input[type=number]:invalid {
    /* Chrome doesn't apply border-radius to outline
    so box-shadow has to be used */
    box-shadow: 0 0 0 .2rem #c80000;
}

input[type=range] {
    appearance: none;
    width: 25rem;
    height: 1rem;

    border-radius: .5rem;
    padding: 0 .3rem;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
    appearance: none;
    height: .5rem;
    border: none;
    background-color: #252525;
    cursor: pointer;
}
