.container {
	--expand-time: 0.5s;
}

.container > button {
	display: flex; /* Fixes weird space at the bottom */
	position: relative; /* For z-index to work */
	z-index: 1;

	transition: transform var(--expand-time) ease-out;
}

.container > button:hover {
	filter: brightness(0.7);
}

.container aside {
	--side-padding: 2rem;
	--base-top-padding: 2rem;
	--total-top-padding: calc(var(--header-height) + var(--base-top-padding));

	/* Padding should be added on top of width, not actually
	going inwards and dereasing the size of the content box
	because that makes PaletteItems slightly overflow s*/
	box-sizing: content-box;

	position: absolute;
	display: flex;
	/* width + side paddings should be the full max width */
	max-width: calc(100% - 2 * var(--side-padding));
	flex-direction: column;
	background-color: #1a1a1af0;

	padding: var(--total-top-padding) var(--side-padding) 0;

	top: 0;
	bottom: 0;

	transition: transform var(--expand-time) ease-out;
}

.expanded > button {
	transform: rotateZ(calc(var(--direction) * 90deg));
}

.expanded aside {
	transform: translateX(calc(var(--direction) * 100%));
}

.expandLeft {
	--direction: -1;
}

.expandRight {
	--direction: 1;
}

.expandRight aside {
	align-items: flex-start;
	right: 100%;
}

.expandLeft aside {
	align-items: flex-end;
	left: 100%;
}
