.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 1rem 3rem;
	font-size: 2rem;
}

.textWrapper {
	margin: auto;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
}

.textWrapper > * {
	width: fit-content;
}

.textWrapper h1 {
	font-size: min(6vw, 5rem);
}

.textWrapper a {
	font-size: min(2vw, 1.7rem);
	transition: filter 0.1s ease-out;
}

.textWrapper a:hover {
	filter: brightness(0.7);
	text-decoration: underline;
}
