/* #region Tooltip Button */
.tooltipButton {
	--size: 1rem;
	--color: white;

	margin: 0 1rem;
}

.tooltipButton::before {
	content: "?";

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.4rem;

	width: var(--size);
	height: var(--size);

	box-sizing: content-box;
	padding: 0.3rem;
	border: 0.15rem solid var(--color);
	color: var(--color);
	border-radius: 50%;

	transition: all 0.1s ease-out;
	transition-property: color, border-color;
}

.tooltipButton:hover {
	--color: #cccccc;
}

.tooltipButton:active {
	--color: #aaaaaa;
}
/* #endregion */

.container {
	--down-shift: 1.5rem;
	--arrow-size: 1rem;
	--bg-color: #000000ef;
	--border-radius: 1rem;

	position: relative;
	width: 100%;
	font-size: 1.5rem;
}

.container::before,
.container::after {
	position: absolute;
	pointer-events: none;
	z-index: 1;

	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.container::before {
	--padding: 1rem;

	content: attr(tooltip);
	padding: var(--padding);
	top: calc(var(--down-shift) + var(--arrow-size) + var(--padding));
	background-color: var(--bg-color);

	border-radius: var(--border-radius);
}

.container::after {
	content: "";

	top: var(--down-shift);
	border: var(--arrow-size) solid transparent;
	border-bottom-color: var(--bg-color);
}

.shown::before,
.shown::after {
	opacity: 1;
}
