.container,
.paletteUl {
	width: 100%;
}

.container span {
	display: inline-block;
	margin-bottom: 1rem;
}

.paletteUl {
	--gap: 1.2rem;

	width: 50rem;
	max-width: 100%;
	gap: var(--gap);

	display: flex;
	flex-direction: column;
}

.paletteUl li {
	list-style-type: none;
}
