.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.inputWrapper {
	display: flex;
	align-items: inherit;
	justify-content: flex-end;
	width: 100%;
	max-width: 28rem;
	min-width: 15rem;
}

.container label {
	position: absolute;
	/* Makes it invisible without affecting accessibility */
	right: 1000%;
}

.container input {
	background-color: #f5f5f5;
}

/* Fixes chrome +- buttons not disappearing with "appearance: textfield"*/
.container input[type="number"]::-webkit-outer-spin-button,
.container input[type="number"]::-webkit-inner-spin-button {
	appearance: none;
}

.container input[type="number"] {
	outline: none; /* Removes chrome outline on focus */
	appearance: textfield;
	width: 4ch;

	border: none;
	border-radius: 0.7rem;
	padding: 0 0.4rem;
}

.container input[type="number"]:invalid {
	/* Chrome doesn't apply border-radius to outline
    so box-shadow has to be used */
	box-shadow: 0 0 0 0.2rem #c80000;
}

.container input[type="range"] {
	appearance: none;
	cursor: pointer;
	width: 100%;
	height: 1rem;

	border-radius: 0.5rem;
	padding: 0 0.4rem;
	margin-right: 1rem;

	--thumb-height: 0.5rem;
	--thumb-width: 1.5rem;
	--thumb-backround-color: #252525;
	--thumb-border-radius: 50rem;

	--hover-thumb-bg-color: #949494;
	--hover-track-thumb-bg-color: #5c5c5c; /* thumb brightness when hovering on track */
	--hover-thumb-transition-duration: 0.2s;
	--hover-thumb-transition-function: ease-out;
}

/* DOUBLED RULES */
/* Chrome doesn't render a rule if it contains
an unknown selector, even if other ones do work.
This makes it necessary to make a rule only for
webkit browsers */

.container input[type="range"]::-moz-range-thumb {
	appearance: none;
	border: none;

	height: var(--thumb-height);
	width: var(--thumb-width);
	background-color: var(--thumb-backround-color);
	border-radius: var(--thumb-border-radius);

	transition: background-color var(--hover-thumb-transition-duration)
		var(--hover-thumb-transition-function);
}

.container input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	border: none;

	height: var(--thumb-height);
	width: var(--thumb-width);
	background-color: var(--thumb-backround-color);
	border-radius: var(--thumb-border-radius);

	transition: background-color var(--hover-thumb-transition-duration)
		var(--hover-thumb-transition-function);
}

.container input[type="range"]::-moz-range-thumb:is(:hover, :active) {
	background-color: var(--hover-thumb-bg-color) !important;
}

.container input[type="range"]::-webkit-slider-thumb:is(:hover, :active) {
	background-color: var(--hover-thumb-bg-color) !important;
}

.container input[type="range"]:hover::-moz-range-thumb {
	background-color: var(--hover-track-thumb-bg-color);
}

.container input[type="range"]:hover::-webkit-slider-thumb {
	background-color: var(--hover-track-thumb-bg-color);
}

/* DOUBLED RULES */
