html,
body {
	/* Mobile fix for horizontal overflow scroll*/
	height: 100%;
	overflow-x: hidden;
}

body {
	/* Mobile fix for horizontal overflow scroll*/
	position: relative;

	color: white;
	background-color: #323232;
	overflow: hidden; /* For menus */
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 3rem;
	font-size: 2rem;
}

h1 {
	text-align: center;
	font-size: min(5vw, 5rem);
}
