body {
    text-align: center;
    color: white;
    font-size: 2rem;
    background-color: rgb(50, 50, 50);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem;
}
