#option-menu {
    position: relative;
}

#option-menu__dropdown {
    position: absolute;
    background-color: #00000044;
    padding: 1rem 2rem;
    border-radius: 1rem;
    right: 0;
    margin-top: 1rem;
}

#option-menu__dropdown > * + * {
    margin-top: .5rem;
}
