@mixin scrollbar($width, $margin, $thumb-color, $thumb-color-hover) {
	$bg-color: transparent;

	// Firefox scrollbar
	scrollbar-color: $thumb-color $bg-color;

	// Chrome scrollbar rules
	&::-webkit-scrollbar {
		$track-width: 2 * $margin + $width;

		width: $track-width;
		height: $track-width;
		background-color: $bg-color;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $thumb-color;
		border-radius: 0.5rem;

		border: $margin solid transparent;
		background-clip: padding-box;

		&:hover {
			background-color: $thumb-color-hover;
		}
	}
}

.buttonContainer {
	display: flex;
	width: 100%;

	* {
		flex: 1;
	}
}

.buttonContainer > button {
	border: white solid 0.2rem;
	padding: 0.3rem;
	border-radius: 0.5rem;

	transition: filter 0.1s ease-out;

	&:hover {
		filter: brightness(0.7);
	}

	&:active {
		filter: brightness(0.5);
	}
}

.container {
	overflow-y: auto;
	font-size: 1.5rem;

	&,
	* {
		@include scrollbar(0.6rem, 0.3rem, #707070, #7f7f7f);
	}
}

.container > * + * {
	margin-top: 2rem;
}
