@use "shared/styles/slider.scss";

.inputWrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	max-width: 28rem;
	min-width: 15rem;
}

.container {
	display: flex;
	justify-content: space-between;
	width: 100%;

	label {
		position: absolute;
		// Makes the text invisible without affecting accessibility
		font-size: 0;
	}
}

.container input {
	background-color: #f5f5f5;

	&[type="number"] {
		outline: none; // Removes chrome outline on focus
		appearance: textfield;
		width: 4ch;

		border: none;
		border-radius: 0.7rem;
		padding: 0 0.4rem;

		// Fixes chrome +- buttons not disappearing with "appearance: textfield"
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
		}

		&:invalid {
			// Chrome doesn't apply border-radius to outline so box-shadow has to be used
			box-shadow: 0 0 0 0.2rem #c80000;
		}
	}

	&[type="range"] {
		@include slider.main-style(100%, 1rem, 1.5rem, 0.5rem);
	}
}
