.label {
	margin-bottom: 1rem;
}

.container input {
	--padding: 0.4rem;
	--height: 4rem;

	appearance: none;
	cursor: pointer;
	width: 100%;
	height: var(--height);

	border-radius: 0.5rem;
	padding: var(--padding);

	--thumb-height: calc(var(--height) - 2 * var(--padding));
	--thumb-width: 0.7rem;
	--thumb-backround-color: #252525;
	--thumb-border-radius: 1rem;

	--hover-thumb-bg-color: #949494;
	--hover-track-thumb-bg-color: #5c5c5c; /* thumb brightness when hovering on track */
	--hover-thumb-transition-duration: 0.2s;
	--hover-thumb-transition-function: ease-out;
}

/* DOUBLED RULES */
/* Chrome doesn't render a rule if it contains
an unknown selector, even if other ones do work.
This makes it necessary to make a rule only for
webkit browsers */

.container input::-moz-range-thumb {
	appearance: none;
	border: none;

	height: var(--thumb-height);
	width: var(--thumb-width);
	background-color: var(--thumb-backround-color);
	border-radius: var(--thumb-border-radius);

	transition: background-color var(--hover-thumb-transition-duration)
		var(--hover-thumb-transition-function);
}

.container input::-webkit-slider-thumb {
	appearance: none;
	border: none;

	height: var(--thumb-height);
	width: var(--thumb-width);
	background-color: var(--thumb-backround-color);
	border-radius: var(--thumb-border-radius);

	transition: background-color var(--hover-thumb-transition-duration)
		var(--hover-thumb-transition-function);
}

/* !important overrides range element hover (two rules below) */
.container input::-moz-range-thumb:is(:hover, :active) {
	background-color: var(--hover-thumb-bg-color) !important;
}

.container input::-webkit-slider-thumb:is(:hover, :active) {
	background-color: var(--hover-thumb-bg-color) !important;
}

.container input:hover::-moz-range-thumb {
	background-color: var(--hover-track-thumb-bg-color);
}

.container input:hover::-webkit-slider-thumb {
	background-color: var(--hover-track-thumb-bg-color);
}

/* DOUBLED RULES */
