html {
	font-size: 62.5%;
}

html,
body {
	/* Mobile fix for horizontal overflow scroll*/
	height: 100%;
	overflow-x: hidden;
}

body {
	/* Mobile fix for horizontal overflow scroll*/
	position: relative;

	color: white;
	background-color: #323232;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background: none;

	color: inherit;
	font-size: inherit;
	font-family: inherit;
}
