.container {
	min-width: 22rem;
	padding-left: 0 !important;
	padding-right: 0 !important;
	justify-content: space-between;
}

.container a {
	width: 100%;
	transition: background-color 0.1s ease-out;
}

.container a:hover {
	background-color: hsla(0, 0%, 100%, 20%);
}

.pages {
	display: flex;
	flex-direction: inherit;
	width: 100%;
}

.pages .current {
	background-color: hsla(0, 0%, 100%, 5%);
}

.pages a,
.footer {
	padding: 2rem 3rem;
}

.footer,
.footer a {
	display: flex;
}

.footer {
	align-items: center;
	width: 100%;
	white-space: nowrap;
}

.footer span {
	margin-left: 2rem;
	font-size: 1.6rem;
}
